//colors
$waterBlue: #008DD6;
$deepBlue: #291E5B;
$redOrange: #D93D3D;
$lightgrey: #F1F3F4;
$black: #000;


//border / a

$noBorder: none;
$noLine: none;

//fonts

$ptext:'Open Sans', sans-serif;
$htext:'Roboto', sans-serif;


//transition 

$scale: scale(0.5);
$scaleDuration: 1s;


//padding og margin

$margincenter: 0 auto;
$sectionPadding:20px;

